* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 30px 0px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: black;
}

.product {
  position: relative;
  margin: 30px;
}

.product .product-card {
  z-index: 0;
  position: relative;
  width: 350px;
  border-radius: 10px;
  background: #18182c;
}

.product .product-card::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #1e272e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .product-card .image {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.product .product-card .image img {
  width: 100%;
  transform: scale(1.1);
}

.product:nth-child(3) .product-card .image img {
  width: 100%;
  transform: scale(0.8);
}

.product .product-card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.product .product-card .info .name {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 20px;
}

.product .product-card .info .price {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 20px;
}

.product .product-card .info .view {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 2px;
  background: #444;
  margin-bottom: 20px;
}

.product .quick-view {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.product .quick-view .quick-view-card {
  width: 700px;
  min-height: 400px;
  display: flex;
  align-items: center;
}

.product .quick-view .quick-view-card .image {
  width: 45%;
}

.product .quick-view .quick-view-card .image img {
  width: 100%;
  transform: scale(1.4) translateX(-30px);
}

.product:nth-child(3) .quick-view .quick-view-card .image img {
  width: 100%;
  transform: scale(1.1) translateX(-30px);
}

.product .quick-view .quick-view-card .info {
  position: relative;
  width: 55%;
  background: white;
  padding: 30px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product .quick-view .quick-view-card .info::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 85%;
  height: 90%;
  transform: translateY(22.46px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #1d1f2d;
}

.product .quick-view .quick-view-card .info .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  cursor: pointer;
}

.product .quick-view .quick-view-card .info .title {
  font-size: 2em;
  font-weight: 900;
  line-height: 50%;
  margin-bottom: 40px;
}

.product .quick-view .quick-view-card .info .title span {
  font-size: 0.4em;
  font-weight: 700;
}

.product .quick-view .quick-view-card .info p {
  margin-bottom: 30px;
}

.product .quick-view .quick-view-card .info .price {
  font-size: 2.3em;
  margin-bottom: 20px;
}

.product .quick-view .quick-view-card .info .busket {
  text-align: center;
  background: #0586c6;
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0 auto;
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.product .quick-view .quick-view-card .info .wanted {
  text-align: center;
  text-transform: uppercase;
  color: #0586c6;
  font-size: 0.9em;
  font-weight: 600;
}

@media (max-width: 900px) {
  .product .quick-view-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }

  .product .quick-view .quick-view-card .image {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18182c;
  }

  .product .quick-view .quick-view-card .image img {
    width: 60%;
    transform: scale(1.5) translateY(-20px);
  }

  .product:nth-child(3) .quick-view .quick-view-card .image img {
    width: 40%;
    transform: scale(1.5) translateY(-20px);
  }

  .product .quick-view .quick-view-card .info {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .product .quick-view .quick-view-card .info::before {
    all: unset;
  }
}
